<div class="review">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
          <section class="comment-list">
            <article class="row">
              <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                  <% if @review.user_id == current_user.id %>
                    <img class="img-responsive" src="https://s32.postimg.org/ixy8iw4np/IMG_3112.jpg" />
                  <%else%>
                    <img style="width:25%;height:25%;"src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg">
                    <%end%>
                  <figcaption class="text-center"><%= User.find(@review.user_id).username %></figcaption>
                </figure>
              </div>
              <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left">
                  <div class="panel-body">
                    <header class="text-left">
                      <div class="comment-user"><i class="fa fa-user"></i> <%= User.find(@review.user_id).username %></div>
                      <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%=@review.created_at%></time>
                    </header>
                    <div class="comment-post">
                      <b>
                        <%= @review.title %>
                      </b>
                      <p>
                        <%= @review.content %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </section>
      </div>
    </div>
  </div>
</div>
