<div class="lead">
<h3><%= @restaurant.restaurant_name %></h3>
<p><%= @restaurant.phone %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.city %></p>
<p><%= @restaurant.state %></p>
<p><%= @restaurant.yelp_reviews %></p>
</div>

<button id="review-link" href="#" class="btn btn-primary btn-lg"> Leave a Review </button>
<div id="review-form-div" style="display: none; align:right;">
<h4>Leave a Review</h4>
 <form class="form-verticle" id="review-form" role="form" method="post" action="/restaurants/:id/reviews/">
   <div class="form-group">
     <label class="control-label col-sm-2" for="title">Title:</label>
     <div class="col-sm-10">
       <input class="form-control" type="text" name="title" placeholder="Enter Title">
     </div>
   </div>
   <div class="form-group">
     <label class="control-label col-md-2" for="pwd">Content:</label>
     <div class="col-sm-10">
       <textarea class="form-control" type="text" name="content" placeholder="Enter Review"></textarea>
     </div>
   </div>
   <input type="radio" name="value" value="employee"> Employee<br>
   <input type="radio" name="value" value="customer"> Customer<br>
   <input type="hidden" name="restaurant_id" value=<%= @restaurant.id %>>
   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" id="submit-review" class="btn btn-primary btn-lg"> Submit </button>
       <button id="cancel-review" class="btn btn-secondary btn-lg"> Cancel </button>
     </div>
   </div>
  </form>
</div>
<div id="review-links">
  <ul class="nav nav-tabs nav-justified">
    <li><a href="#" id="employee-review-link">Employee Reviews < <%= p  @restaurant.reviews.where("value = 'employee'").count %> > </a></li>
    <li><a href="#" id="customer-review-link">Customer Reviews < <%= @restaurant.reviews.where("value = 'customer'").count %> > </a></li>
  </ul>
</div>



<div id="review-area">
  <div id="customer-reviews" style="display: none;">
    <% @restaurant.reviews.order('created_at DESC').each do |review| %>
      <% if review.value == 'customer' %>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
                <section class="comment-list">
                  <article class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                      <figure class="thumbnail">
                        <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                        <figcaption class="text-center">
                          <form class="profile-link" method="post" action="/users/<%=review.user_id%>">
                          <button class="profile-link" href="/users/<%=review.user_id%>"><%= User.find(review.user_id).username %></button>
                          <input type="hidden" name="user_id" value=<%= review.user_id %>>
                        </form>
                          </figcaption>
                      </figure>
                    </div>
                    <div class="col-md-10 col-sm-10">
                      <div class="panel panel-default arrow left">
                        <div class="panel-body">
                          <header class="text-left">
                            <div class="comment-user profile-link"><i class="fa fa-user"></i>
                              <form class="profile-link" method="post" action="/users/<%=review.user_id%>">
                              <button class="profile-link" href="/users/<%=review.user_id%>"><%= User.find(review.user_id).username %></button>
                              <input type="hidden" name="user_id" value=<%= review.user_id %>>
                            </form></div>
                            <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%=review.created_at%></time>
                          </header>
                          <div class="comment-post">
                            <b>
                              <%= review.title %>
                            </b>
                            <p>
                              <%= review.content %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </section>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="employee-reviews" style="display: none;">
    <% @restaurant.reviews.order('created_at DESC').each do |review| %>
      <% if review.value == 'employee' %>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
                <section class="comment-list">
                  <article class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                      <figure class="thumbnail">
                        <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                        <figcaption class="text-center">
                          <form class="profile-link" method="post" action="/users/<%=review.user_id%>">
                          <button class="profile-link" href="/users/<%=review.user_id%>"><%= User.find(review.user_id).username %></button>
                          <input type="hidden" name="user_id" value=<%= review.user_id %>>
                        </form>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="col-md-10 col-sm-10">
                      <div class="panel panel-default arrow left">
                        <div class="panel-body">
                          <header class="text-left">
                            <div class="comment-user profile-link"><i class="fa fa-user"></i>  <form class="profile-link" method="post" action="/users/<%=review.user_id%>">
                              <button class="profile-link" href="/users/<%=review.user_id%>"><%= User.find(review.user_id).username %></button>
                              <input type="hidden" name="user_id" value=<%= review.user_id %>>
                            </form></div>
                            <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%=review.created_at%></time>
                          </header>
                          <div class="comment-post">
                            <b>
                              <%= review.title %>
                            </b>
                            <p>
                              <%= review.content %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </section>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
